//border colors
$border-header: #e2e2e2;
$container-gray: #f0f0f0;

//brand colors
$brand-gray-light: #f0f0f0;
$brand-gray-dark: #ddd;
$brand-header-medium: #646464;
$brand-black: #1b1b1b;
$brand-white: #fff;
$brand-input-gray: #ececec;
$brand-button-black: #434343;
